:root {
  --primary: #2cd4d9;
  --secondary: #2A2D35;
  --white: #e6ebf6;
  --radius: 25px;
  --border-color: #bbb;
  --warning: #cf4949;
  --new: #2CD988;
  --more: #2f8087;
}



ol, ul {
  list-style-position: outside;
  padding-left: 20px;
  margin-left: 0; 
}

.cursor {
  cursor: pointer;
}

.hide-recaptcha {
  display: none;
}

/* Page frontend  settings */
.single-project_listing #main-content,
.single-airdrop_listing #main-content {
  background-color: transparent;
}

.card {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgba(44, 212, 217, 0.25);
  padding: 20px 10px;
  color: #e6ebf6;
  position: relative;
  box-shadow: 0px 2px 18px 0px var(--primary)0d;
  transition: transform 300ms ease 0ms, box-shadow 300ms ease 0ms;
}

.card h2 {
  color: #e6ebf6;
}

.card-hover .card {
  transition: 0.1s ease all;
}

.card-hover .card:hover {
  box-shadow: 0px 2px 18px 0px rgba(44, 212, 217, 0.2);
  transform: scaleX(1.01) scaleY(1.01) !important;
}


/* Buttons */
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-bottom:10px;
}

.btn:hover {
  color: var(--white);
  border-color: var(--primary);
  background-color: rgba(44, 212, 217, 0.25);
  cursor: pointer;
}

.btn-project-info {
  color: var(--secondary) !important;
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 50px;
  border: 2px;
}

.btn-project-info:hover {
  background-color: rgba(44, 212, 217, 0.85);

}

.btn-project-website {
  color: var(--white) !important;
  background-color: transparent;
  border: 2px solid var(--white);
}

.btn-show-more {
  color: var(--white);
  background-color: rgba(44, 212, 217, 0.25);
  border-radius: 6px;
  padding: 20px 0px;
}

.btn-show-more:hover {
  background-color: rgba(44, 212, 217, 0.5);
}

/* Airdrop listing container */
.scrollable-content {
  max-height: 870px;
/*   min-height: 210px; */
  overflow-x: hidden;
  padding-top: 5px;
}

div.scrollable-content::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

/* Track */
div.scrollable-content::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
div.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(44, 212, 217, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
div.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: rgba(44, 212, 217, 0.85);
  cursor: pointer;
}

.fixed-button {
  bottom: 0;
  text-align: center;
  width: calc(100% - 5px);
}

.fixed-button button {
  padding: 10px 20px;
}


.airdrop-listings-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 5px 10px;
  max-height: 875px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 330px;
}

.airdrop-search-container {
/*   display: flex; */
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
  padding: 0px 10px;
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-item {
  margin: 0px 0px 10px 3px;
  width: calc(100% - 10px);
}

.card-item.active-label::before {
  content: attr(data-ribbon);
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg);
  color: var(--secondary);
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 0;
  transform-origin: bottom left;
  padding: 0px 30px calc(3px + 0px);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% 6px no-repeat var(--primary);
  background-clip: padding-box;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 6px) calc(100% - 6px), 6px calc(100% - 6px), 0 100%);
  -webkit-mask: linear-gradient(135deg, transparent calc(50% - 6px * 0.707), var(--white) 0) bottom left,
    linear-gradient(-135deg, transparent calc(50% - 6px * 0.707), var(--white) 0)bottom right;
  -webkit-mask-size: 300vmax 300vmax;
  -webkit-mask-composite: destination-in, xor;
  mask-composite: intersect;
  text-transform: capitalize;
  font-weight: 600;
}

.card-item.active-label.aidrop-label-new::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% 6px no-repeat var(--new);
  color: var(--secondary);
  font-weight: bold;
}

.card-item.active-label.aidrop-label-featured::before {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% 6px no-repeat var(--secondary);
  color: var(--primary);
}

.card-item.active-label.aidrop-label-unverified::before {
  background: linear-gradient(rgba(239, 188, 117, 0.5) 0 0) bottom/100% 6px no-repeat #EFBC75;
  color: #1C1E27;
}


.airdrop-requirements {
  padding: 0px 15px;
  display: inline-flex;
}

.airdrop-requirements .remaining {
  font-size: 0.7em;
}

.card-header-container {
  display: flex;
  width: 100%; 
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header-container .column1 {
  width: 60px;
}

.card-header-container .column1 .logo {
  min-width: 60px;
  min-height:60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.card-header-container .column1 .logo img {
  width: 100%;
}

.card-header-container .column2 {
  justify-content: flex-start;
  padding: 0px 0px 0px 10px;
  width: 180px;
}
.card-header-container .column2 h4 {
  font-weight: 600;
  color: var(--white);
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 8px;
}

.card-header-container .column3 {
  width: 12px;
  align-items: baseline;
}

.card-airdrop-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px 10px 0px 10px;
  gap: 10px;
}

.card-airdrop-footer .amount {
  font-size: 14px;
  font-weight: 600;
}

.card-airdrop-footer .approx {
  font-size: 12px;
  font-weight: 500;
}



/* Airdrop sponsored card */
.airdrop-sponsored-container {
  width: 380px;
  max-height: 680px;
  overflow: hidden;
}

.airdrop-sponsored-card {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  border: 1px solid rgba(44, 212, 217, 0.5);
  box-shadow: 0px 2px 18px 0px var(--primary)0d;
  position: relative;
}

.airdrop-sponsored-card:hover .airdrop-sponsored-caption {
  background: rgba(0, 0, 0, 0.8);
}

.airdrop-sponsored-card:last-child {
  margin-bottom: 0;
}

.airdrop-sponsored-caption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 0px 10px 15px;
  text-align: left;
  position: absolute;
  bottom: 0;
  font-size: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background 0.3s ease;
}


/* Airdrop left card */
.airdrop-left-card {
  min-width: 300px;
  position: relative;
	padding:20px;
}

.airdrop-left-card .header {
  text-align: center;
}

.airdrop-left-card .header .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
}

.airdrop-left-card .header h2 {
  font-size: 2rem;
  margin: 10px 0px;
}

.airdrop-left-card .content .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--white);
  padding: 7px 0;
}

.airdrop-left-card .content .row.last {
  border-bottom: 0px !important;
}

.airdrop-left-card .content .coin-price {
  margin: 30px 0px;
}

.airdrop-left-card .content .coin-price h4 {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 15px;
}

.airdrop-left-card .content .coin-price .price-container .price {
  padding-right: 20px;
  font-size: 22px;

}

.airdrop-left-card .footer {
  margin-top: 40px;
}




/* Airdrop Steps */
.airdrop-steps-card {
  margin: auto;
}

.airdrop-steps-card h2 {
  text-align: left;
  padding: 20px 0px;
  font-size: 22px !important;
}

.airdrop-steps-card .step-list {
  counter-reset: step-counter;
  list-style-type: none !important;
}

.airdrop-steps-card .step-list li {
  counter-increment: step-counter;
  position: relative;
  line-height: 1.5;
  padding: 15px 0px 15px 75px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}

.airdrop-steps-card .step-list li:last-child {
  margin-bottom: 0px;
}

.airdrop-steps-card .step-list li:before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-left: 25px;
}

.airdrop-steps-card .step-list li:hover {
  background-color: #29313B;
}

.airdrop-steps-card .step-list li:hover:before {
  color: var(--primary) !important;
}

.airdrop-step-description {
  font-size: 1rem;
}


.airdrop-steps-card .buttons {
  margin: 35px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
}

.airdrop-steps-card .buttons a {
  text-decoration: none;
}

.airdrop-steps-card .buttons a:hover {
  text-decoration: none;
  color: var(--primary) !important;
}

.airdrop-steps-card .buttons i {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(230, 235, 246, 0.6);
}

.airdrop-steps-card .previous-button,
.next-button {
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  color: rgba(230, 235, 246, 0.6) !important;
  cursor: pointer;
}

.airdrop-steps-card .previous-button  i {
	margin: 0px 8px 0px 0px;
}

.airdrop-steps-card .next-button  i {
    margin: 1px 0px 0px 8px;
}

.airdrop-steps-card .next-button {
  margin-left: 10px;
}

/* Airdrop tokens card */
.airdrop-token-card {
  display: flex;
  gap: 10px;
}

.airdrop-token-card .card {
  margin: auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.airdrop-token-card .card-value {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.airdrop-token-card .card-description {
  font-size: 14px;
  color: #a4acc4;
}

/* Airdrop listing in project page */
.airdrops-list .card {
  margin-bottom: 10px;
}

.airdrops-list-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-container .project-title {
	font-size: 22px !important;
	margin-top:15px !important;
	margin-bottom:15px !important;
}

.table-container table {
  border-collapse: separate;
  border-spacing: 0 0.2em;
  width: 100%;
}

table thead th {
  color: #e9e9e9 !important;
  font-weight: 200;
  text-align: left;
  padding: 0px 0px 10px 10px;
  font-size: 14px;
}

table tbody tr {
  font-weight: 600;
  font-size: 14px;
}


table tbody td {
  padding: 8px;
}

table tbody td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table tbody td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}



.clickable-row {
  transition: transform 300ms ease 0ms, box-shadow 300ms ease 0ms;
}

.clickable-row:hover {
  color: var(--white);
  background-color: #29313B;
/*   box-shadow: 0px 2px 18px 0px rgba(44, 212, 217, 0.2); */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.status {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  color: #e6ebf6;
  border-radius: 5px;
  margin-right: 5px;
}

.active {
  background-color: var(--primary);
}

.days-left {
  background-color: #7B7C80;
}


.airdrops-list .closed {
  background-color: #a4acc4;
}

.td-double {
  display: grid;
}

.td-double span:last-child {
  font-size: 10px;
  color: #a4acc4;
}


/* Individual but use in all shortcodes */
.card-status {
  display: flex;
  gap: 6px;
}

.card-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

}

.icon-text {
  font-size: 8px;
}

.card-socials a {
  flex: 0 0 30px;
  color: var(--white);
  text-decoration: none;
}

.card-socials a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.card-socials .social-item {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  color: var(--white) !important;
}

/* Airdrop not allowed */

.airdrop-blocked .entry-header {
  display: none;
}

.airdrop-not-allowed {
  text-align: center;
}

.airdrop-not-allowed h2 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0px !important;
}

.airdrop-not-allowed h2 i {
  font-weight: bold;
}

.airdrop-not-allowed p {
  margin-bottom: 10px !important;
}

.airdrop-not-allowed ul {
  list-style: none;
}


.not-found h4 {
  color: var(--primary);
}

/* Airdrop status shortcode  */
.post-status {
  background-color: var(--primary);
  font-size: 14px;
  padding: 5px 20px;
  color: var(--secondary);
  border-radius: 3px;
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 700;
}

.post-status.aidrop-label-new {
  background-color: var(--new);
  color: var(--white);

}

.post-status.aidrop-label-featured {
  background-color: var(--secondary);
  color: var(--primary)
}

.post-status.aidrop-label-unverified {
  background-color: #EFBC75;
  color: #1C1E27;
}

.post-status.closed {
  background-color: #7B7C80;
  color: #e6ebf6;
}



.airdrop-extra-information-card .extra-info-list {
  list-style-type: none !important;
  padding: 0px !important;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-items: center;
}

.airdrop-extra-information-card .extra-info-list li {
  text-align: center;
  position: relative;
  padding: 0px 10px;
  border-radius: 4px;
}

.airdrop-extra-information-card .extra-info-list li:nth-child(3n+1)::after,
.airdrop-extra-information-card .extra-info-list li:nth-child(3n+2)::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--white);
}


#tooltip {
  position: absolute;
  background-color: #333;
  color: var(--white);
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Regex Match */
.regex-match {
  color: var(--primary);
}



/* Search project alphabet  */
#alphabet-filter {
  text-align: center;
}



#search-box {
  position: relative;
}



/* No search result */
.no-search-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.no-search-result h4 {
  margin: 0px;
  font-weight: 400;
  color: var(--primary);
}



/* START TOOLTIP STYLES */
[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: .9em;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #1c1e27;
  color: var(--primary);
  z-index: 100000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}


/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}


.packages-listing {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.packages-listing .package {
  width: 350px;
}

.packages-listing .package .package-header {
  text-align: center;
  color: var(--white);
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(230, 235, 246, 0.5);
  padding-bottom: 20px;
}

.packages-listing .package .package-header h1 {
  margin: 20px 0px 30px 0px;
  font-size: 18px;
  background: rgba(213, 213, 213, 0.25);
  border-radius: 3px;
  padding: 5px 20px;
  color: var(--white);

}

.packages-listing .package .package-header span {
  font-size: 45px;
}

.packages-listing .package .package-description ul li {
  font-size: 14px;
  margin-bottom: 10px;
  list-style-type: "✓";
  padding-left: 1ch;
}


.packages-listing .package .package-description ul li::marker {
  color: var(--primary);
}


/* Pagination */
.airdrop-pagination {
  text-align: center;
  margin: 20px 0px;
}

.page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  gap: 5px;
  list-style-type: none !important;
}

.page-numbers.current,
a.page-numbers:hover {
  background-color: var(--primary);
  font-weight: 600;
  color: var(--secondary) !important;
}

/* Select */
.select-dim {
  height: 40px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 1rem;
  color: var(--white);
  width: 150px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 15px;
  border-radius: var(--radius);
  border: 1px solid;
}

.select-styled:after {
  font: var(--fa-font-solid);
  content: '\f078';
  height: 0;
  position: absolute;
  top: 10px;
  right: 27px;
}

.select-styled.active:after {
  font: var(--fa-font-solid);
  content: '\f077';
  height: 0;
  position: absolute;
  top: 10px;
  right: 27px;
}

.select-styled:hover {
  background-color: var(--secondary);
}

.select-styled:active,
.select-styled.active {
  background-color: var(--secondary);
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--secondary);
  list-style-type: none !important;
  padding: 0px !important;
  max-height: 250px;
  overflow-y: auto;

}

.select-options ul {
  list-style: none !important;
  padding: 0px o !important;
}

.select-options li {
  margin: 0;
  padding: 5px 0;
  text-indent: 15px;
}

.select-options li:hover,
.select-options li.is-selected {
  color: var(--primary);
}

.select-options li [rel="hide"] {
  display: none;
}



/* Style the dropdown button */
.custom-multiselect-dropdown {
  position: relative;
  min-width: 150px;
}

.custom-dropbtn {
  background-color: transparent;
  color: var(--white);
  padding: 5px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 1px solid;
  height: 100%;
  width: 100%;
}

/* Dropdown content */
.custom-dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  z-index: 1;
  color: var(--white);
  padding: 5px 0px;
  width: 100%;
}

.dropdown-item {
  font-size: 1rem;
  padding: 5px 0;
  text-indent: 15px;
}

.dropdown-item:hover {
  color: var(--primary);
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.custom-dropbtn:hover,
.custom-dropbtn:focus {
  background-color: var(--secondary);
}

.custom-dropdown-content.show {
  display: block;
}

.custom-dropbtn .custom-arrow {
  padding-left: 15px;
}

.selected-options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.selected-options-container .selected-option {
  background: #444955;
  color: var(--primary);
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.selected-options-container .selected-option i {
  padding-left: 5px;
}

.selected-options-container .selected-option:hover {
  background: var(--primary);
  color: var(--secondary);
}

/* Labels in the dropdown */
.custom-dropdown-content label {
  color: var(--white);
  padding: 12px 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of checkbox labels on hover */
.custom-dropdown-content label:hover {
  background-color: #f1f1f1;
}

/* custom breadcrumbs */

.custom-breadcrumbs,
.custom-breadcrumbs a {
  color: var(--white);
  font-size: 1rem;
}

.custom-breadcrumbs a#home {
  font-weight: 600;
}

.custom-breadcrumbs a:hover {
  color: var(--primary);
}



/* Custom buttons */
.airdrop-auction {
  display: flex;
  justify-content: right;
  gap: 20px
}

.airdrop-auction a {
  background: #5333ED;
  color: var(--white) !important;
  border-radius: 3px;
  padding: 3px 25px;
}

.airdrop-auction a:hover {
  background-color:rgba(83, 51, 237, 0.85);
}

/* Airdrop closed */
.airdrop-closed {
  background: rgba(44, 212, 217, 0.1);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.airdrop-closed a:hover {
  text-decoration: underline;
}



@media only screen and (min-device-width : 320px) and (max-device-width : 769px) {
  .packages-listing {
    margin: 0 auto;
    display: table;
  }

  .packages-listing .package {
    margin-bottom: 20px;
  }


  .search-input-container #search-input .search {
    display: grid;
  }

  .search-input-container #search-input input {
    width: 100%;
  }

  .search-input-container #search-input .search h4 {
    text-align: center;
    padding-right: 0px;
  }


  /* Tokens */
  .airdrop-token-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* Steps */
  .airdrop-extra-information-card .extra-info-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .airdrop-extra-information-card .extra-info-list li:nth-child(3n+1)::after,
  .airdrop-extra-information-card .extra-info-list li:nth-child(3n+2)::after {
    content: none;
  }

  .airdrop-extra-information-card .extra-info-list li {
    border-bottom: 1px solid var(--white);
    border-radius: 0px;
  }

  .airdrop-steps-card .step-list {
    padding-left: 0px;
  }

  .airdrop-steps-card .step-list li {
    margin-bottom: 10px;
    padding: 15px 0px 15px 25px;
  }

  .airdrop-steps-card .step-list li:before {
    padding-left: 0px;
  }


  /* Pagination */
  .airdrop-steps-card .buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .airdrop-steps-card .previous-button,
  .next-button {
    padding: 10px 0px;
  }

  table tbody td {
    text-align: center;
  }

  .custom-breadcrumbs {
    padding-left: 10px;
  }

}