/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Basel, sans-serif;
    min-height: 100%;
}

button {
    user-select: none;
}

html {
    font-size: 16px;
    font-weight: 485;
    font-variant: none;
    font-smooth: always;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

#background-radial-gradient {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -100vh);
    z-index: -1;
}

@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(#131313 0, #131313 100%);
    }
}

@media (prefers-color-scheme: light) {
    html {
        background: radial-gradient(100% 100% at 50% 0, rgba(255, 184, 226, 0) 0, rgba(255, 255, 255, 0) 100%), #fff;
    }
}
