:root{--van-skeleton-title-width:40%}.van-skeleton-title{background:var(--van-skeleton-paragraph-background);height:var(--van-skeleton-paragraph-height)}.van-skeleton-title--round{border-radius:var(--van-radius-max)}.van-skeleton-title{margin:0;width:var(--van-skeleton-title-width)}.van-skeleton-title+.van-skeleton-paragraph{margin-top:5.33334vw}:root{--van-skeleton-avatar-size:8.53334vw;--van-skeleton-avatar-background:var(--van-active-color)}.van-skeleton-avatar{background:var(--van-skeleton-avatar-background);flex-shrink:0;height:var(--van-skeleton-avatar-size);margin-right:var(--van-padding-md);width:var(--van-skeleton-avatar-size)}.van-skeleton-avatar--round{border-radius:var(--van-radius-max)}.van-skeleton-avatar+.van-skeleton__content{padding-top:var(--van-padding-xs)}:root{--van-skeleton-paragraph-height:4.26666vw;--van-skeleton-paragraph-background:var(--van-active-color);--van-skeleton-paragraph-margin-top:var(--van-padding-sm)}.van-skeleton-paragraph{background:var(--van-skeleton-paragraph-background);height:var(--van-skeleton-paragraph-height)}.van-skeleton-paragraph--round{border-radius:var(--van-radius-max)}.van-skeleton-paragraph:not(:first-child){margin-top:var(--van-skeleton-paragraph-margin-top)}:root{--van-skeleton-duration:1.2s}.van-skeleton{display:flex;padding:0 var(--van-padding-md)}.van-skeleton__content{width:100%}.van-skeleton--animate{animation:van-skeleton-blink var(--van-skeleton-duration) ease-in-out infinite}@keyframes van-skeleton-blink{50%{opacity:.6}}


/*
playback timings (ms):
  captures_list: 0.701
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.076
  esindex: 0.01
  cdx.remote: 26.339
  LoadShardBlock: 92.982 (3)
  PetaboxLoader3.resolve: 67.951 (2)
  PetaboxLoader3.datanode: 85.397 (4)
  load_resource: 76.378
*/