.color-up-text[data-v-aff31723]{color:rgb(var(--success-6))}.color-down-text[data-v-aff31723]{color:rgb(var(--danger-6))}.color-equal-text[data-v-aff31723]{color:var(--color-text-2)}


/*
playback timings (ms):
  captures_list: 0.662
  exclusion.robots: 0.074
  exclusion.robots.policy: 0.065
  esindex: 0.01
  cdx.remote: 6.32
  LoadShardBlock: 138.233 (3)
  PetaboxLoader3.datanode: 52.307 (4)
  PetaboxLoader3.resolve: 176.804 (2)
  load_resource: 111.257
*/